.container {
  display:flex;
  background-color: #c6e8f8;
  min-width: 20px;
  min-height: 20px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

.container.header {
  background-color: #b0e7b0;
  border-radius: 0px;
  margin: 0px;
}